.grow {
    flex-grow: 1;
}

.menu {
    background-color: #232E33;
    min-height: 90px;
}

.logo {
    align-items: center;
    font-size: 28px;
    color: rgb(255, 255, 255, 0.9);
}

.button {
    color: rgb(255, 255, 255, 0.7);
    margin-left: 20px
}

.login_button {
    composes: button;
    background: #5DB285;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 15px;
}